<!DOCTYPE html>
<html>
<head>
    <title>Switch Config Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div>
        <img src="{{ url_for('static', filename='Com1-Oranje.png') }}" alt="Logo">
    </div>
    <h1>Push Config to Switch</h1>
</header>

<form method="POST">
    <label>Select Devices:</label><br>
    {% for device in devices %}
        <input type="checkbox" name="devices" value="{{ device.id }}">
        {{ device.label }}<br>
    {% endfor %}
    <br>

    <label>Select Config File:</label>
    <select name="config">
        {% for config in configs %}
            <option value="{{ config }}">{{ config }}</option>
        {% endfor %}
    </select><br>

    <label>Protocol:</label>
    <select name="protocol">
        <option value="ssh">SSH</option>
        <option value="telnet">Telnet</option>
    </select><br>

    <label>Cooldown (ms):</label>
    <input type="number" name="cooldown" value="1000"><br>

    <button name="send_config" type="submit">Send Config</button>
</form>

{% if result %}
    <h2>Result:</h2>
    <pre>{{ result }}</pre>
{% endif %}

<form method="POST" action="/upload" enctype="multipart/form-data">
    <h2>Upload Device or Config File</h2>
    <input type="file" name="file" required>
    <select name="filetype">
        <option value="devices">Device</option>
        <option value="configs">Config</option>
    </select>
    <button type="submit">Upload</button>
</form>

<form method="POST" action="/delete">
    <h2>Delete Files</h2>
    <select name="filetype">
        <option value="devices">Device</option>
        <option value="configs">Config</option>
    </select>
    <input type="text" name="filename" placeholder="Exact filename" required>
    <button type="submit">Delete</button>
</form>

<form action="">
    <h2>Device File look Like</h2>
    <label>With a password</label>
    <pre>
        192.168.1.1
        username:admin
        password:Com123Com!@#
    </pre>
    <label>no password</label>
    <pre>
        192.168.1.1
    </pre>
</form>

<footer>
    Made by Ahmad Mahouk
</footer>

</body>
</html>
